.header__bill{
    font-size: 2.4rem;
    text-decoration: revert;
    display: none;
}
.code-link:hover .bill_detail{
    display: flex;
    cursor: pointer;
}
.bill_detail{
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in .3s;
    cursor: default;
    z-index: 3;
    padding-top: 10px; 
}
.stt,.code,.date,.total-quantity,.total-prices,.customer-name,.items-number,.return{
    font-size: 1.3rem;
}
.code-link{
    color: #3c8bd2f5;
    text-decoration: none;
}

.btn-return{
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
}
.btn-action1{
    margin-top: 20px;
}
.app_bill{
    margin-top: 150px;
}
.info-heading{
    color: #757575;
    font-size: 1.4rem;
    text-decoration: none;
}
.address-user{
    background-color: #fff;
    padding: 10px;
    height: 140px;
}
.address-user p{
    font-size: 1.2rem;
    color: #aaa;
}.order-item{
    text-align: left;
    display: flex;
}
.btn-action--next{
    margin-left: 20px;
    background-color: var(--primary-color);
    height: 30px;
    width: 200px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.btn-action--next:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn-next{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}
.info-bill{
    margin-top: 20px;
    background-color: #fff;  
    padding-left: 20px;
}

  .tabs {
    display: flex;
    position: relative;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    color: var(--primary-color);
    transition: all 0.2s ease;
  }
  .tab-item {
   
    color: var(--primary-color);
    background-color: #fff;
   
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
 
  .tab-item:hover {
    opacity: 1;
    background-color: #eee;
    border-color: #89c0f180;
  }
  .tab-item.active {
    opacity: 1;
  }
  
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: inline-table;
    background-color: #fff;
  }
  .btn-payvisa{
    display: flex;
    margin-left: 84px;
    margin-top: 20px;
    background-color: #fff;
    color: var(--primary-color);
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    font-weight: 600;
  }

  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / 17%);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
}
.open {
    display: flex;
}
.modal-container {
    position: relative;
    background-color: #fff;
    width: 800px;
    min-height: 400px;
    max-width: calc(100% - 32px);
    margin-bottom: 100px;
    animation: modalFadeIn .4s;
    border-radius: 5px;
    top: 8%;
}
.modal-header{
    padding: 5px 20px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}
.i-close {
    font-size: 24px;
    padding: 14px 11px;
    color: #fff;
    cursor: pointer;
}
.modal-body {
    padding: 0 16px;
}

.modal-footer {
  
}
.drection-card{
    padding: 20px 10px;
    background-color: #89c0f11f;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.5;
}

.btn-card{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.group-card{
    width: 300px;
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.form-control-card{
    padding: 8px 5px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.background-card{
    width: 300px;
    background-color: #bbb;
    border-radius: 10px;
    margin-left: 30px;
    color: #fff;
    margin-top: 15px;
}
.number-card{
    margin-left: 20px;
    font-size: 4.4rem;
}
.date-card{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.show-card{
    display: flex;
    margin-left: 84px;
    width: 264px;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    border-radius: 3px;
    display: none;
}
.success-notifi{
    color: #aaa;margin-bottom: 8px;font-size: 1.4rem;
}
.from-email{
    margin-bottom: 20px;color:#aaa;width: 100%;
}
#smsCard{
    margin-bottom: 5px;color:#aaa;width: 100%;text-align: center;display:none
}
.messageTime{
    margin-bottom: 10px;display:none
}
.textNote{
    color: var(--primary-color);margin-bottom: 12px;font-size: 1.2rem;line-height: 1.5;display:none
}
.btn-sendEmail{
    background-color: #adb5bd;font-size: 1.4rem;display: flex;color: #fff;position: relative;bottom: 209px;left: 745px;
}
.btnSend{
    display: none;
    background-color: #adb5bd;font-size: 1.4rem;color: #fff;position: relative;bottom: 209px;left: 745px;
}