/* Modal layout */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
    z-index: 1;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
 .modal__body {
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    z-index: 1;
    margin: auto;
    animation: growth linear 0.1s;
 }
 .register-form{
    width: 400px;
    background-color: #fff;
    display: none;
 }
 .login-form{
    width: 400px;
    background-color: #fff;
    display: none;
 }
 .auth-form{
    padding: 20px;
 }
 .auth-form__heading{
    font-size: 1.8rem;
    color: var(--primary-color);
 }
 .auth-form__form{
    margin-bottom: 10px;
 }
 .auth-form__form1{
   width: 350px;
 }

 .auth-form__input{
    padding: 10px;
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
 }
 .auth-form__aside{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
 }

 .auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
 }
 .auth-form__controls{
    display: flex;
    justify-content: space-between;
 }

.auth-form__socials{
    display: inline-flex;
    margin-bottom: 10px;
}
.question{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 25px;
}
.link-login,.link-register{
    color: var(--primary-color);
}
.dash{
    text-align: center;
}
.line{
    height: 1px;
    background-color: #ccc;
    width: 44%;
    position: relative;
    top: 16px;
}
.line2{
    height: 1px;
    background-color: #ccc;
    width: 44%;
    position: relative;
    top: -21px;
    float: right;
}
.auth-form__help-link{
   color: var(--primary-color);
}
.auth-form__help{
   display: flex;
   justify-content: space-between;
}
.auth-form__icon{
   float: right;
   cursor: pointer;
}
.icon-close{
   font-size: 1.4rem;
}
.open{
   display: flex;
}
.hide{
   display: none;
}
.message{
   color: red;
}