.app__container--boy{
    background-color: #F5F5F5;
}
.home-category--boy{
    position: fixed;
    padding-top: 150px;
    cursor: pointer;
}
.category-boy{
    color: var(--primary-color);
    display: flex;
    font-size: 1.8rem;
    background-color: #fff;
    margin: 10px 0;
    padding: 21px 12px;
    border-radius: 6px;
}
.category-boy h3{
    margin: 1px 0 0px 10px;
}
.home-boy{
    display: none;
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 115px;
}
.open{
    display: flex;
}
.home-product--boy{
    padding-top: 150px;
    
}
.catalog-item{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--primary-color);
    margin-bottom: 5px;
    
}
.list-catalog{
    list-style: none;
}
.list-catalog--item{
    margin-bottom: 20px;
}
.icon-open{
    font-size: 1.4rem;
}

.item{
    display: flex;
    font-size: 1.4rem;
    text-decoration: none;
    color: #bbb;
    line-height: 1.8;
    margin-left: 20px;
    border-radius: 5px;
    padding: 2px 8px;
}
.item:hover{
    color: var(--primary-color);
    background-color: #eee;
}
.price{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 12px 0;
}
.home-product-item__price-boy{
    font-size: 1.4rem;
    color: #000;
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 0px;
}

.header-boy {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-top: 10px;
}
.footer {
    background-color: #fff;
    border-radius: 5px;
}
.footer__bottom {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}
.footer__content{
    margin: 0 20px;
}